<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <img class="portrait" src="/img/jim%20crowley.jpg">

            <p> My name is James Crowley and I am a graduating senior at San Jose State University.
                I am getting my degree in Applied Mathematics with a Minor in Computer Science. I created
                this website so that I could showcase my knowledge of JavaScript and Node.js.  I am currently
                working on other websites that use code from my previous CS and Math classes to showcase other 
                things that I learned while getting my degree.
            </p>
            <div class="linkText">
                <a href="https://www.linkedin.com/in/james-c-4910b08a/">Linkedin</a>
                <a href="https://github.com/jimc11">GitHub</a>
            </div>
        </div> 
        <div class="linkText">
            {{>footer}} 
        </div>
         
    </body>
</html>